html {
    background-color: #8b97fb;
}

header {
    font-family: 'BeonRegular';
    font-size: 250%;
    color: #fff;
    font-weight: normal;
    padding-top: 100px;
    padding-left: 200px;
    margin: 0%;
}